header{
    background-color: #ffffff;
    width:100%;
    height: 100px;
    letter-spacing: -.4em;

}

.headerTitle{
    display: inline-block;
    width:20%;
    letter-spacing: initial;
    height: 100px;
    line-height: 100px;
    vertical-align: top;
}

.headerList{
    display: inline-block;
    width: 80%;
    text-align: right;
    letter-spacing: initial;
    height: 100px;
}
.headerList ul{
    height: 100px;
    display: inline-block;
}

.headerList ul li{
    width:100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
}
.headerList a{
    width:100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
    text-align: center;
}
