header{
    background-color: #ffffff;
    width:100%;
    height: 100px;
    letter-spacing: -.4em;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.headerTitle{
    display: inline-block;
    width:20%;
    letter-spacing: initial;
    height: 100px;
    line-height: 100px;
    vertical-align: top;
    background-image: url('/img/title.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.headerTitle a{
    display: block;
    height:100%;
    width: 100%;
    cursor: auto;
}

.headerList{
    display: inline-block;
    width: 80%;
    text-align: right;
    letter-spacing: initial;
    height: 100px;
}
.headerList ul{
    height: 100px;
    display: inline-block;
}

.headerList ul li{
    width:100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
}
.headerList a{
    width:100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
    text-align: center;
}
